* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
@font-face {
  font-family: Yekan;
  src: url(../../fonts/yekan/IRANYekanWeb.eot);
  src: url(../../fonts/yekan/IRANYekanWeb.ttf);
  src: url(../../fonts/yekan/IRANYekanWeb.woff);
  src: url(../../fonts/yekan/IRANYekanWeb.woff2);
}
@font-face {
  font-family: BSOHRAB;
  src: url(../../fonts/B-NAZANIN.TTF);
}
@font-face {
  font-family: iran;
  src: url(../../fonts/irsans_p30download.com.ttf);
}
@font-face {
  font-family: cube;
  src: url("../../fonts/cube-v7.9.woff");
}
:root {
  --borderRadiusSmall: 7px;
  --borderRadiusMedium: 15px;
  --borderRadiusCircle: 100px;
  --fontFamily: Yekan;
  --fontSohrab: BSOHRAB;
  --fontfamily: iran;
  --fontcube: cube;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  width: 35px !important;
  height: 35px !important;
  background-color: whitesmoke;
  border-radius: 50% !important;
  border: 1px solid lightgrey !important;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  font-size: 12px !important;
  font-weight: bold !important;
  color: #2b2b2b !important;
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0 !important;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  background-color: #ffffff;
}
.swiper-pagination-bullet-active {
  width: 16px !important;
  height: 5px !important;
  border-radius: 3px !important;
}
.border-radius {
  border-radius: 0 15px 15px 0 !important;
}
.tooman {
  width: 15px;
  height: 18px;
}
