.salige {
  width: 1335px;
  height: 100%;
  border: 1px solid #e0e0e2;
  border-radius: 15px;
  display: flex;
  margin-top: 13px;
  margin-right: 175px !important;
  .slige__item {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 415px;
    margin-right: 20px;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      svg {
        margin-top: 5px;
        size: 10px;
        margin-right: 5px;
      }
      h6 {
        color: #3ec2d6;
        font-family: var(--fontFamily);
        font-size: 11px;
      }
    }
    h4 {
      font-family: var(--fontFamily);
      margin-top: 15px;
    }
    h6 {
      font-family: var(--fontFamily);
      color: #949aa3;
      margin-top: 10px;
    }
    .slige__item1 {
      width: 135px;
      height: 135px;
      display: flex;
      object-fit: contain;
      margin-top: 10px;
      margin-right: 20px;
      img {
        box-shadow: 0 0 1px #e0e0e2;
        padding: 5px;
      }
    }
    .slige__item2 {
      width: 135px;
      height: 135px;
      display: flex;
      object-fit: contain;
      margin-right: 20px;
      img {
        box-shadow: 0 0 1px #e0e0e2;
        padding: 5px;
      }
    }
  }
}
